<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pickleball Tourney App</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/index.js"></script>
</head>
<body>
    <h1>Standings</h1>
    <table class="standings-table" id="standings-table">
        <tr>
            <th>Player</th>
            <th>Points Scored</th>
            <th>Points Allowed</th>
            <th>Point Differential</th>
            <th>Delete</th>
        </tr>
    </table>
    <label>Player Name
        <input type="text" id="player-name" placeholder="Player Name">
    </label>
    <br>
    <label>Points Scored
        <input type="text" id="points-scored" placeholder="Points Scored">
    </label>
    <br>
    <label>Points Allowed
        <input type="text" id="points-allowed" placeholder="Points Allowed">
    </label>
    <button class="add-player-button">Add Player</button>
</body>
</html>