<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pickleball Tournament App</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/index.js"></script>
</head>
<body>
    <h1>Standings</h1>
    <table class="standings-table" id="standings-table">
        <tr>
            <th>Player</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Points Scored</th>
            <th>Points Allowed</th>
            <th>Point Differential</th>
        </tr>
    </table>

    <div class="create-schedule-container">
        <h2>Setup Tournament</h2>
        <label>Player Name:</label>
        <input id="playerName" type="text" placeholder="Enter player name">
        <button class="add-player-to-schedule-button">Add Player</button>

        <ul class="player-list"></ul>

        <label>Number of Rounds:</label>
        <input id="numRounds" type="number" placeholder="Enter rounds">

        <button class="generate-schedule-button">Generate Schedule</button>
    </div>

    <button class="generate-playoffs-button" style="display: block; margin-top: 20px;" onclick="generatePlayoffSchedule()">Generate Playoffs</button>
</body>
</html>